@media screen and (min-width: 320px) and (max-width: 1200px) {
  .container-fluid {
    padding: 0 30px !important;
  }
  .our-svc-content-box {
    padding: 0 20px !important;
  }
  .mobile-display-none {
    display: none !important;
  }
  .show-mobile {
    display: block !important;
  }
  .section-name {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  .contact-form {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 108px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition-duration: 2s;
            transition-duration: 2s;
  }
  .main-page-content .main-text h2 {
    font-size: 1rem;
  }
  .main-page-content .main-text h1 {
    font-size: 3rem;
  }
  .main-page-content .main-text .main-page-btn {
    font-size: 1rem;
  }
  .main-page-content .main-text .arrow img {
    height: 25px;
  }
  #about-us {
    margin-top: 60px;
  }
  #about-us .text-content p {
    font-size: 1rem;
    max-width: 100%;
    margin-bottom: 30px;
  }
  #our-svc {
    margin-top: 60px;
  }
  #our-svc .section-name {
    margin-left: 10px;
  }
  #our-svc .item {
    height: 225px;
  }
  #our-svc .item h4 {
    font-size: 2rem;
  }
  #our-svc .item .open-modal {
    font-size: 0.7rem;
  }
  #our-svc .owl-prev, #our-svc .owl-next {
    bottom: 25%;
  }
  #our-works {
    margin-top: 50px;
  }
  #our-works .section-name {
    margin-bottom: 0;
  }
  #our-works h4 {
    font-size: 2rem;
  }
  #our-works .open-modal {
    font-size: 0.7rem;
  }
  #our-works .work-number {
    font-size: 3rem;
  }
  #our-works .work-box {
    height: 225px;
    margin-top: 100px;
  }
  #our-works .work-number-box {
    margin-top: 100px;
  }
  #our-works .line {
    display: none;
  }
  #contact-with-us {
    margin-top: 50px;
  }
  #contact-with-us .mapouter {
    height: 225px;
    margin-bottom: 50px;
  }
  #contact-with-us .gmap_canvas {
    height: 225px;
    margin-bottom: 50px;
  }
  #contact-with-us .contact-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact-with-us .contact-form input {
    font-size: 1rem;
    height: 40px;
  }
  #contact-with-us .contact-form textarea {
    font-size: 1rem;
    padding: 8px 15px;
  }
  #contact-with-us .contact-form button {
    font-size: 1rem;
  }
  .footer {
    margin-top: 60px;
  }
  .footer h2 {
    font-size: 2rem;
  }
  .footer p {
    font-size: 1rem;
  }
  .footer .logo {
    height: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    margin-right: 10px;
  }
  footer .social-box {
    margin-top: 60px;
  }
  footer .social-box p {
    font-size: 1rem;
  }
  footer .social-box img {
    width: 30px;
  }
  .modal-cover .modal-svc {
    width: 90%;
    left: 5%;
  }
  .modal-cover .modal-svc .content {
    padding: 20px;
  }
  .modal-cover .modal-svc .content img {
    margin: 20px 0;
  }
  .modal-cover .modal-svc .content p {
    font-size: 1rem;
    margin: 20px 0;
  }
  .modal-cover .modal-svc .content h4 {
    font-size: 2rem;
  }
  .modal-cover .modal-svc .content .close-btn {
    width: 30px;
    right: 20px;
    top: 24px;
  }
  .open-menu-mobile label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40px;
    cursor: pointer;
  }
  .open-menu-mobile label span {
    background: black;
    border-radius: 10px;
    height: 3px;
    margin: 5px 0;
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .open-menu-mobile span:nth-of-type(1) {
    width: 50%;
  }
  .open-menu-mobile span:nth-of-type(2) {
    width: 100%;
  }
  .open-menu-mobile span:nth-of-type(3) {
    width: 75%;
  }
  .open-menu-mobile .opened ~ span:nth-of-type(1) {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotatez(45deg) translate(5px, 0px);
            transform: rotatez(45deg) translate(5px, 0px);
  }
  .open-menu-mobile .opened ~ span:nth-of-type(2) {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: rotatez(-45deg);
            transform: rotatez(-45deg);
  }
  .open-menu-mobile .opened ~ span:nth-of-type(3) {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    width: 50%;
    -webkit-transform: translate(19px, -7px) rotatez(45deg);
            transform: translate(19px, -7px) rotatez(45deg);
  }
}
/*# sourceMappingURL=mobile.css.map */