@media screen and (min-width: 320px) and (max-width: 1200px){
    .container-fluid{
        padding: 0 30px !important;
    }
    .our-svc-content-box{
        padding: 0 20px !important;
    }
    .mobile-display-none{
        display: none !important;
    }
    .show-mobile{
        display: block !important;
    }
    .section-name{
        font-size: 2rem;
        margin-bottom: 50px;
    }

    .contact-form{
        align-items: center !important;
    }
    .mobile-menu{
        display: flex;
        position: fixed;
        top: 108px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition-duration: 2s;
       
    }
    header{
        .logo-box{
            margin-left: 0 !important;
        }
    }
    .main-page-content{
        .main-text{
            h2{
                font-size: 1rem;
            }
            h1{
                font-size: 3rem;
            }
            .main-page-btn{
                font-size: 1rem;
            }
            .arrow{
                img{
                    height: 25px;
                }
            }
        }
    }
    #about-us{
        padding-top: 135px !important;
        .text-content{
            p{
                font-size: 1rem;
                max-width: 100%;
                margin-bottom: 30px;
            }
        }
    }
    #our-svc{
        padding-top: 135px !important;
        .section-name{
        margin-left: 10px;
        }
        .item{
        height: 225px;
            h4{
                font-size: 2rem;
            }
            .open-modal{
                font-size: 0.7rem;
            }
        }
       .owl-prev,  .owl-next{
           bottom: 25%;
       }
    }
    #our-works{
        padding-top: 135px !important;
        .section-name{
            margin-bottom: 0;
        }
        h4{
            font-size: 2rem;
        }
        .open-modal{
            font-size: 0.7rem;
        }
        .work-number{
            font-size: 3rem;
        }
        .work-box{
            height: 225px;
            margin-top: 100px;

        }

        .work-number-box{
            margin-top: 100px;
        }
        .line{
            display: none;
        }
    }
    #contact-with-us{
        padding-top: 135px !important;
        .mapouter{
            height: 225px;
            margin-bottom: 50px;

        }
        .gmap_canvas{
            height: 225px;
            margin-bottom: 50px;
        }
        .contact-form {
            align-items: center;
            input{
                font-size: 1rem;
                height: 40px;
            }
            textarea{
                font-size: 1rem;
                padding: 8px 15px;
            }
            button{
                font-size: 1rem;
            }
        }
    }
    .footer{
        padding-top: 135px !important;
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }
        .logo{
            height: 150px;
            align-items: center;
        }
    }
    footer{
        p{
            margin-right: 10px;
        }
        .social-box{
            padding: 0 !important;
            margin-top: 100px;
            p{
                font-size: 1rem;
            }
            img{
                width: 30px;
            }
        }
    }
    .modal-cover {
        .modal-svc{
            width: 90%;
            left: 5%;
            .content {
                padding: 20px;
                img{
                    margin: 20px 0;
                }
                p{
                    font-size: 1rem;
                    margin: 20px 0;
                }
                h4{
                    font-size: 2rem;
                }
                .close-btn{
                    width: 30px;
                    right: 20px;
                    top: 24px;
                }
            }
        }
    }

    .open-menu-mobile{
        label{
            display:flex;
             flex-direction:column;
             width:40px;
             cursor:pointer;
           }
           
           label span{
             background: black;
             border-radius:10px;
             height:3px;
             margin: 5px 0;
             transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
           
           }
           
           span:nth-of-type(1){
             width:50%;
             
           }
           
           span:nth-of-type(2){
             width:100%;
           }
           
           
           span:nth-of-type(3){
             width:75%;
            
           }
           
           .opened ~ span:nth-of-type(1){
             transform-origin:bottom;
             transform:rotatez(45deg) translate(5px,0px)
           }
           
           
           .opened ~ span:nth-of-type(2){
             
             transform-origin:top;
             transform:rotatez(-45deg)
           }
           
           
           .opened ~ span:nth-of-type(3){
             
             transform-origin:bottom;
             width:50%;
             transform: translate(19px,-7px) rotatez(45deg);
           
           }
           
    }
}